<%= title l(:label_centos_rating) %>

<div class="box tabular">
  <p>
    <label><%= l :label_evaluator %></label>
    <span><%= link_to @rating.evaluator.login, user_path(@rating.evaluator) %></span>
  </p>
  <% if @rating.issue %>
    <p>
      <label><%= l :label_issue %></label>
      <%= link_to @rating.issue.subject, issue_path(@rating.issue) %>
    </p>
  <% end %>
  <p>
    <label><%= l :label_evaluated %></label>
    <span><%= link_to @rating.evaluated.login, user_path(@rating.evaluated) %></span>
  </p>
  <p>
    <label><%= l :field_mark %></label>
    <span><%= @rating.mark %></span>
  </p>
  <p>
    <label><%= l :field_comments %></label>
    <span><%= @rating.comments %></span>
  </p>
</div>
